@charset "utf-8";

img	{
	padding-left:40%;
	float:middle;
	width:20%;
}

#menu ul {
    padding:2px;
    margin: 2px;
    background-color:#000;
    list-style:none;
    text-align: center;
}

#menu ul li {
	margin-right: 10px;
    padding: 1px 80px;
    display: inline-block;
    background-color:#000;
    color: #fff;
    text-decoration: none;
    border-bottom:3px solid #FFF;
}
#menu ul li:hover {
    background-color:#e6e6ff;
    color: #ff6600;
    border-bottom:3px solid #ff6600;
}