@charset "utf-8";

img	{
	padding-left:40%;
	float:middle;
	width:20%;
}

.menu ul {
    padding:2px;
    margin: 2px;
    background-color:#519696;
    list-style:none;
    text-align: center;
}

.menu ul li {
	margin-right: 10px;
    padding: 8px 80px;
    display: inline-block;
    background-color:#468787;
    color: #fff;
    text-decoration: none;
    border-bottom:3px solid #FFF;
}
.menu ul li:hover {
    background-color:#e6e6ff;
    color: #ff6600;
    border-bottom:3px solid #ff6600;
}

.menu a
{
text-decoration: none;
color: #fff;
font-family: Arial, sans-serif;
font-size: medium;
font-weight: bold;
letter-spacing: 1px;
}